* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fae5e5);
}

.app-container {
    width: 90%;
    max-width: 350px;
}


.scroll-viewport {
    width: 100%;
    height: 400px;
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
    scrollbar-width: none; 
}

.scroll-viewport::-webkit-scrollbar {
    display: none;
}

.month-card {
    min-width: 100%; 
    height: 100%;
    padding: 40px 20px;
    text-align: center;
    scroll-snap-align: start; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.year-label {
    font-size: 12px;
    letter-spacing: 4px;
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-label {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

.day-num {
    font-size: 15px;
    color: #444;
    padding: 5px 0;
}

.controls {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-arrow {
    background: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.nav-arrow:hover {
    background: #fdfdfd;
    color: #333;
    transform: scale(1.1);
}


#monthIndicator {
    font-weight: 800;
    font-weight: bold;
    font-size: 16px;
    color: #555;
    background: rgba(255, 255, 255, 0.6);
    padding: 8px 25px;
    border-radius: 20px;
}