* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fae5e5);
}

.app-container {
    width: 90%;
    max-width: 350px;
}

.controls {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-arrow {
    background: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.nav-arrow:hover {
    background: #fdfdfd;
    color: #333;
    transform: scale(1.1);
}


#monthIndicator {
    font-weight: 600;
    font-size: 16px;
    color: #555;
    background: rgba(255, 255, 255, 0.6);
    padding: 8px 25px;
    border-radius: 20px;
}